{
  "env":{
    "node":true,
  }
  ,"parser":"babel-eslint"
    ,"parserOptions":{
      "ecmaFeatures":{
        "impliedStrict":true
      }
      ,"sourceType":"module"
    }
  ,"rules":{
    "no-console":"off"
  }
  ,overrides: [
  {
    files: "*.test.js",
    "env":{
      "node":true,
      "mocha":true,
    },
    rules: {
      "no-unused-expressions": "off",
      "no-underscore-dangle":"off"
    }
  }
  ]
  ,"extends":["airbnb-base"]
}
